<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
      <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <!--
      <li><a href="/cv">CV</a></li>
      -->
      </ul>
    </nav>
    <div class="container">

      {{ content }}

    </div>

    <footer>
     <ul>
     <li><a href="mailto:elliottbinder+site@gmail.com">email</a>, <a href="twitter.com/elliottbinder">twitter</a></li>
     <!--
     <li><a href="https://github.com/elliottbinder">github.com/elliottbinder</a></li>
     -->
     </ul>
    </footer>
  </body>

</html>
